<footer>
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
		<div class="container">
			<div class="row">

				<div class="col-10 col-md-5 col-lg-5 offset-1" style="color: white">
					<h4> &copy; 2023 - LeLanches</h4>
					<p class="text-justify">
						Aqui você encontra aquele lanche que dá vontade de repetir diversas vezes, um lanche brabo pra matar tua fome.
						Aquela sobremesa que só a gente sabe fazer e para acompanhar a sua bebida preferida.
						Ainda tem os lanches vegetarianos pra você que ta de dieta, chega mais.
					</p>
				</div>
				<div class="col-10 col-md-5 col-lg-5 offset-1" style="color: white">
					<h4>Tá com dúvida, chama nós ?</h4>
					<ul class="list-unstyled">
						<li class="py-1"> Belford Roxo, Rio de Janeiro - Brasil</li>
						<li class="py-1"> +5521 98721-5172</li>
						<li class="py-1"> <a href="jvpinheirodossantos@gmail.com" style="color: blue">jvpinheirodossantos@gmail.com</a></li>
					</ul>
				</div>

			</div>
		</div>
	</nav>
</footer>